h1 {
  text-align: center;
}

.background {
  background-color: #f0f4f9;
  /* background-image: url('./Images/sky-blue-clouds.jpg'); */
  /* background-repeat: repeat-y; */
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  /* background-size: cover;
  background-attachment: fixed; */
}
